.contentWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.imageWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 800px;
    height: 100%
}

.headline {
    margin-bottom: 1rem;
    color: white !important;
    text-align: center
}

.button {
    background-color: #A9A9A9;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
}